<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SSRSCompanion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <SSRSCompanion.Properties.Settings>
            <setting name="ReportServer" serializeAs="String">
                <value>http://defravmdgsssql2.eydev.net:80/ReportServer_INST1/</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>EYDEV\A16007982-3</value>
            </setting>
          <setting name="Password" serializeAs="String">
            <value />
          </setting>
            <setting name="LocalDirectory" serializeAs="String">
                <value>C:\Users\varun.robinson\work\GDNTASRMT\DEV\EY.GDN.TASRMT\EY.GDN.TASRMT\EY.GDN.TASRMT.Report\bin\Release</value>
            </setting>
        </SSRSCompanion.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
